table, th, td {
  border: 1px solid lightblue;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
    padding: 1rem;
}

tr:nth-child(odd){
    background-color: #DAE4F0;
}

h1 {
    text-align: center;
    color: dimgray;
    border-bottom: 3px solid lightblue;
}