{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hierarchy/style.css' %}">

<h1>Staff Structure</h1>
{% if not markup == ''%}
    <table>
        {{ markup | safe }}

    </table>
{% else %}
    <p>Sorry, there is no company data available</p>
{% endif %}